.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;

  li {
    margin-left: 1rem;
    color: #e74c3c;
    font-size: 1rem;
    width: 66%;
    word-wrap: break-word;
  }

  button {
    margin: 0rem 0.3rem;
  }

  .check-delete {
    margin-right: 0.5rem;
  }

  .complete-btn,
  .trash-btn {
    cursor: pointer;
    padding: 5px;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease;
    &:hover {
      border-radius: 47%;
      scale: 1.4;
    }
  }
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
