* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.vacation {
  background-color: #53e453 !important;
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  word-wrap: break-word;
  color: black;
}

.orange {
  background-color: #e74c3c !important;
  border: 1px solid white;
  border-radius: 50px;
  color: black;
}

.react-calendar {
  background: #1f1e1e !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: whitesmoke;
}

.react-calendar__month-view__days__day--weekend {
  color: #811a0f;
}

@import "./toDoList";
@import "./todo";
@import "./datum";
